src/main/resources/current-cost-cc128.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Author:
        Guy Taylor <thebigguy.co.uk@gmail.com>
    Refs:
        http://www.currentcost.com/cc128/xml.htm
    
    Copyright (c) 2010, Guy Taylor
    All rights reserved.
    
    Redistribution and use in source and binary forms, with or without
    modification, are permitted provided that the following conditions are met:
    * Redistributions of source code must retain the above copyright
      notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright
      notice, this list of conditions and the following disclaimer in the
      documentation and/or other materials provided with the distribution.
    * Neither the name of the Guy Taylor nor the
      names of its contributors may be used to endorse or promote products
      derived from this software without specific prior written permission.
    
    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
    ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
    WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
    DISCLAIMED. IN NO EVENT SHALL GUY TAYLOR BE LIABLE FOR ANY
    DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
    (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
    LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
    ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
    (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
    SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

-->


<!--
    NEED TO FIX
    
    DTD has wrong order, hxxx should be descending not ascending
    
    same with dxx and thus probably with mxxx
    
    TODO: will fix on 2nd nov!
    
    Not valid 'DTD' (

    <msg>
        <src>CC128-v1.29</src>
        <dsb>00001</dsb>
        <time>21:08:10</time>
        <hist>
            <dsw>00003</dsw>
            <type>1</type>
            <units>kwhr</units>
            <data>
                <sensor>0</sensor>
                <h060>1.058</h060>
                <h058>2.386</h058>
                <h056>1.403</h056>
                <h054>2.958</h054>
                <h052>2.786</h052>
                ............
                <h016>1.551</h016>
                <h014>4.781</h014>
                <h012>2.522</h012>
                <h010>1.182</h010>
                <h008>1.731</h008>
                <h006>2.099</h006>
                <h004>1.513</h004>
            </data>
            <data>
                <sensor>1</sensor>
                <h060>0.000</h060>
                <h058>0.000</h058>
                <h056>0.000</h056>
                <h054>0.000</h054>
                ...........
                <h008>0.000</h008>
                <h006>0.000</h006>
                <h004>0.000</h004>
            </data>
            <data>
                <sensor>2</sensor>
                <h060>0.000</h060>
                .........
                <h004>0.000</h004>
            </data>
            <data>
                <sensor>3</sensor>
                <h060>0.000</h060>
                ......
                <h004>0.000</h004>
            </data>
            <data>
                <sensor>4</sensor>
                <h060>0.000</h060>
                .......
                <h004>0.000</h004>
            </data>
            <data>
                <sensor>5</sensor>
                <h060>0.000</h060>
                ......
                <h004>0.000</h004>
            </data>
            <data>
                <sensor>6</sensor>
                <h060>0.000</h060>
                .......
                <h004>0.000</h004>
            </data>
            <data>
                <sensor>7</sensor>
                <h060>0.000</h060>
                .....
                <h004>0.000</h004>
            </data>
            <data>
                <sensor>8</sensor>
                <h060>0.000</h060>
                ......
                <h004>0.000</h004>
            </data>
            <data>
                <sensor>9</sensor>
                <h060>0.000</h060>
                <h058>0.000</h058>
                ........
                <h010>0.000</h010>
                <h008>0.000</h008>
                <h006>0.000</h006>
                <h004>0.000</h004>
            </data>
        </hist>
    </msg>
    )
    Not valid 'DTD' (

    <msg>
        <src>CC128-v1.29</src>
        <dsb>00001</dsb>
        <time>21:08:11</time>
        <hist>
            <dsw>00003</dsw>
            <type>1</type>
            <units>kwhr</units>
            <data>
                <sensor>0</sensor>
                <d002>13.117</d002>
                <d001>28.953</d001>
             </data>
            <data>
                <sensor>1</sensor><d002>0.000</d002><d001>0.000</d001>
            </data>
            <data>
                <sensor>2</sensor><d002>0.000</d002><d001>0.000</d001>
            </data>
            <data><sensor>3</sensor><d002>0.000</d002><d001>0.000</d001></data>
            <data><sensor>4</sensor><d002>0.000</d002><d001>0.000</d001></data>
            <data><sensor>5</sensor><d002>0.000</d002><d001>0.000</d001></data>
            <data><sensor>6</sensor><d002>0.000</d002><d001>0.000</d001></data>
            <data><sensor>7</sensor><d002>0.000</d002><d001>0.000</d001></data>
            <data><sensor>8</sensor><d002>0.000</d002><d001>0.000</d001></data>
            <data><sensor>9</sensor><d002>0.000</d002><d001>0.000</d001></data>
        </hist>
    </msg>
    )

-->

<!ELEMENT msg (src,dsb,time,((tmpr,sensor,id,type,ch1?,ch2?,ch3?)|hist))>

<!-- Real-Time Output -->
<!ELEMENT src (#PCDATA)>
<!ELEMENT dsb (#PCDATA)>
<!ELEMENT time (#PCDATA)>
<!ELEMENT tmpr (#PCDATA)>
<!ELEMENT sensor (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT ch1 (watts)>
<!ELEMENT ch2 (watts)>
<!ELEMENT ch3 (watts)>

<!ELEMENT watts (#PCDATA)>


<!-- History Output -->


<!ELEMENT hist (dsw,type,units,data+)>

<!ELEMENT dsw (#PCDATA)>
<!ELEMENT units (#PCDATA)>




<!ELEMENT data (sensor,
	(
		(h001?,h002?,h003?,h004?,h005?,h006?,h007?,h008?,h009?,h010?,h011?,h012?,
		h013?,h014?,h015?,h016?,h017?,h018?,h019?,h020?,h021?,h022?,h023?,h024?,
		h025?,h026?,h027?,h028?,h029?,h030?,h031?,h032?,h033?,h034?,h035?,h036?,
		h037?,h038?,h039?,h040?,h041?,h042?,h043?,h044?,h045?,h046?,h047?,h048?,
		h049?,h050?,h051?,h052?,h053?,h054?,h055?,h056?,h057?,h058?,h059?,h060?,
		h061?,h062?,h063?,h064?,h065?,h066?,h067?,h068?,h069?,h070?,h071?,h072?,
		h073?,h074?,h075?,h076?,h077?,h078?,h079?,h080?,h081?,h082?,h083?,h084?,
		h085?,h086?,h087?,h088?,h089?,h090?,h091?,h092?,h093?,h094?,h095?,h096?,
		h097?,h098?,h099?,h100?,h101?,h102?,h103?,h104?,h105?,h106?,h107?,h108?,
		h109?,h110?,h111?,h112?,h113?,h114?,h115?,h116?,h117?,h118?,h119?,h120?,
		h121?,h122?,h123?,h124?,h125?,h126?,h127?,h128?,h129?,h130?,h131?,h132?,
		h133?,h134?,h135?,h136?,h137?,h138?,h139?,h140?,h141?,h142?,h143?,h144?,
		h145?,h146?,h147?,h148?,h149?,h150?,h151?,h152?,h153?,h154?,h155?,h156?,
		h157?,h158?,h159?,h160?,h161?,h162?,h163?,h164?,h165?,h166?,h167?,h168?,
		h169?,h170?,h171?,h172?,h173?,h174?,h175?,h176?,h177?,h178?,h179?,h180?,
		h181?,h182?,h183?,h184?,h185?,h186?,h187?,h188?,h189?,h190?,h191?,h192?,
		h193?,h194?,h195?,h196?,h197?,h198?,h199?,h200?,h201?,h202?,h203?,h204?,
		h205?,h206?,h207?,h208?,h209?,h210?,h211?,h212?,h213?,h214?,h215?,h216?,
		h217?,h218?,h219?,h220?,h221?,h222?,h223?,h224?,h225?,h226?,h227?,h228?,
		h229?,h230?,h231?,h232?,h233?,h234?,h235?,h236?,h237?,h238?,h239?,h240?,
		h241?,h242?,h243?,h244?,h245?,h246?,h247?,h248?,h249?,h250?,h251?,h252?,
		h253?,h254?,h255?,h256?,h257?,h258?,h259?,h260?,h261?,h262?,h263?,h264?,
		h265?,h266?,h267?,h268?,h269?,h270?,h271?,h272?,h273?,h274?,h275?,h276?,
		h277?,h278?,h279?,h280?,h281?,h282?,h283?,h284?,h285?,h286?,h287?,h288?,
		h289?,h290?,h291?,h292?,h293?,h294?,h295?,h296?,h297?,h298?,h299?,h300?,
		h301?,h302?,h303?,h304?,h305?,h306?,h307?,h308?,h309?,h310?,h311?,h312?,
		h313?,h314?,h315?,h316?,h317?,h318?,h319?,h320?,h321?,h322?,h323?,h324?,
		h325?,h326?,h327?,h328?,h329?,h330?,h331?,h332?,h333?,h334?,h335?,h336?,
		h337?,h338?,h339?,h340?,h341?,h342?,h343?,h344?,h345?,h346?,h347?,h348?,
		h349?,h350?,h351?,h352?,h353?,h354?,h355?,h356?,h357?,h358?,h359?,h360?,
		h361?,h362?,h363?,h364?,h365?,h366?,h367?,h368?,h369?,h370?,h371?,h372?,
		h373?,h374?,h375?,h376?,h377?,h378?,h379?,h380?,h381?,h382?,h383?,h384?,
		h385?,h386?,h387?,h388?,h389?,h390?,h391?,h392?,h393?,h394?,h395?,h396?,
		h397?,h398?,h399?,h400?,h401?,h402?,h403?,h404?,h405?,h406?,h407?,h408?,
		h409?,h410?,h411?,h412?,h413?,h414?,h415?,h416?,h417?,h418?,h419?,h420?,
		h421?,h422?,h423?,h424?,h425?,h426?,h427?,h428?,h429?,h430?,h431?,h432?,
		h433?,h434?,h435?,h436?,h437?,h438?,h439?,h440?,h441?,h442?,h443?,h444?,
		h445?,h446?,h447?,h448?,h449?,h450?,h451?,h452?,h453?,h454?,h455?,h456?,
		h457?,h458?,h459?,h460?,h461?,h462?,h463?,h464?,h465?,h466?,h467?,h468?,
		h469?,h470?,h471?,h472?,h473?,h474?,h475?,h476?,h477?,h478?,h479?,h480?,
		h481?,h482?,h483?,h484?,h485?,h486?,h487?,h488?,h489?,h490?,h491?,h492?,
		h493?,h494?,h495?,h496?,h497?,h498?,h499?,h500?,h501?,h502?,h503?,h504?,
		h505?,h506?,h507?,h508?,h509?,h510?,h511?,h512?,h513?,h514?,h515?,h516?,
		h517?,h518?,h519?,h520?,h521?,h522?,h523?,h524?,h525?,h526?,h527?,h528?,
		h529?,h530?,h531?,h532?,h533?,h534?,h535?,h536?,h537?,h538?,h539?,h540?,
		h541?,h542?,h543?,h544?,h545?,h546?,h547?,h548?,h549?,h550?,h551?,h552?,
		h553?,h554?,h555?,h556?,h557?,h558?,h559?,h560?,h561?,h562?,h563?,h564?,
		h565?,h566?,h567?,h568?,h569?,h570?,h571?,h572?,h573?,h574?,h575?,h576?,
		h577?,h578?,h579?,h580?,h581?,h582?,h583?,h584?,h585?,h586?,h587?,h588?,
		h589?,h590?,h591?,h592?,h593?,h594?,h595?,h596?,h597?,h598?,h599?,h600?,
		h601?,h602?,h603?,h604?,h605?,h606?,h607?,h608?,h609?,h610?,h611?,h612?,
		h613?,h614?,h615?,h616?,h617?,h618?,h619?,h620?,h621?,h622?,h623?,h624?,
		h625?,h626?,h627?,h628?,h629?,h630?,h631?,h632?,h633?,h634?,h635?,h636?,
		h637?,h638?,h639?,h640?,h641?,h642?,h643?,h644?,h645?,h646?,h647?,h648?,
		h649?,h650?,h651?,h652?,h653?,h654?,h655?,h656?,h657?,h658?,h659?,h660?,
		h661?,h662?,h663?,h664?,h665?,h666?,h667?,h668?,h669?,h670?,h671?,h672?,
		h673?,h674?,h675?,h676?,h677?,h678?,h679?,h680?,h681?,h682?,h683?,h684?,
		h685?,h686?,h687?,h688?,h689?,h690?,h691?,h692?,h693?,h694?,h695?,h696?,
		h697?,h698?,h699?,h700?,h701?,h702?,h703?,h704?,h705?,h706?,h707?,h708?,
		h709?,h710?,h711?,h712?,h713?,h714?,h715?,h716?,h717?,h718?,h719?,h720?,
		h721?,h722?,h723?,h724?,h725?,h726?,h727?,h728?,h729?,h730?,h731?,h732?,
		h733?,h734?,h735?,h736?,h737?,h738?,h739?,h740?,h741?,h742?,h743?)
	|
		(d001?,d002?,d003?,d004?,d005?,d006?,d007?,d008?,d009?,d010?,d011?,d012?,
		d013?,d014?,d015?,d016?,d017?,d018?,d019?,d020?,d021?,d022?,d023?,d024?,
		d025?,d026?,d027?,d028?,d029?,d030?,d031?,d032?,d033?,d034?,d035?,d036?,
		d037?,d038?,d039?,d040?,d041?,d042?,d043?,d044?,d045?,d046?,d047?,d048?,
		d049?,d050?,d051?,d052?,d053?,d054?,d055?,d056?,d057?,d058?,d059?,d060?,
		d061?,d062?,d063?,d064?,d065?,d066?,d067?,d068?,d069?,d070?,d071?,d072?,
		d073?,d074?,d075?,d076?,d077?,d078?,d079?,d080?,d081?,d082?,d083?,d084?,
		d085?,d086?,d087?,d088?,d089?,d090?)
	|
		(m001?,m002?,m003?,m004?,m005?,m006?,m007?,m008?,m009?,m010?,m011?,m012?,
		m013?,m014?,m015?,m016?,m017?,m018?,m019?,m020?,m021?,m022?,m023?,m024?,
		m025?,m026?,m027?,m028?,m029?,m030?,m031?,m032?,m033?,m034?,m035?,m036?,
		m037?,m038?,m039?,m040?,m041?,m042?,m043?,m044?,m045?,m046?,m047?,m048?,
		m049?,m050?,m051?,m052?,m053?,m054?,m055?,m056?,m057?,m058?,m059?,m060?,
		m061?,m062?,m063?,m064?,m065?,m066?,m067?,m068?,m069?,m070?,m071?,m072?,
		m073?,m074?,m075?,m076?,m077?,m078?,m079?,m080?,m081?,m082?,m083?,m084?)
	)
)>

<!ELEMENT sensor (#PCDATA)>



<!-- Two-Hourly History Store -->

<!ELEMENT h000 (#PCDATA)>
<!ELEMENT h001 (#PCDATA)>
<!ELEMENT h002 (#PCDATA)>
<!ELEMENT h003 (#PCDATA)>
<!ELEMENT h004 (#PCDATA)>
<!ELEMENT h005 (#PCDATA)>
<!ELEMENT h006 (#PCDATA)>
<!ELEMENT h007 (#PCDATA)>
<!ELEMENT h008 (#PCDATA)>
<!ELEMENT h009 (#PCDATA)>
<!ELEMENT h010 (#PCDATA)>
<!ELEMENT h011 (#PCDATA)>
<!ELEMENT h012 (#PCDATA)>
<!ELEMENT h013 (#PCDATA)>
<!ELEMENT h014 (#PCDATA)>
<!ELEMENT h015 (#PCDATA)>
<!ELEMENT h016 (#PCDATA)>
<!ELEMENT h017 (#PCDATA)>
<!ELEMENT h018 (#PCDATA)>
<!ELEMENT h019 (#PCDATA)>
<!ELEMENT h020 (#PCDATA)>
<!ELEMENT h021 (#PCDATA)>
<!ELEMENT h022 (#PCDATA)>
<!ELEMENT h023 (#PCDATA)>
<!ELEMENT h024 (#PCDATA)>
<!ELEMENT h025 (#PCDATA)>
<!ELEMENT h026 (#PCDATA)>
<!ELEMENT h027 (#PCDATA)>
<!ELEMENT h028 (#PCDATA)>
<!ELEMENT h029 (#PCDATA)>
<!ELEMENT h030 (#PCDATA)>
<!ELEMENT h031 (#PCDATA)>
<!ELEMENT h032 (#PCDATA)>
<!ELEMENT h033 (#PCDATA)>
<!ELEMENT h034 (#PCDATA)>
<!ELEMENT h035 (#PCDATA)>
<!ELEMENT h036 (#PCDATA)>
<!ELEMENT h037 (#PCDATA)>
<!ELEMENT h038 (#PCDATA)>
<!ELEMENT h039 (#PCDATA)>
<!ELEMENT h040 (#PCDATA)>
<!ELEMENT h041 (#PCDATA)>
<!ELEMENT h042 (#PCDATA)>
<!ELEMENT h043 (#PCDATA)>
<!ELEMENT h044 (#PCDATA)>
<!ELEMENT h045 (#PCDATA)>
<!ELEMENT h046 (#PCDATA)>
<!ELEMENT h047 (#PCDATA)>
<!ELEMENT h048 (#PCDATA)>
<!ELEMENT h049 (#PCDATA)>
<!ELEMENT h050 (#PCDATA)>
<!ELEMENT h051 (#PCDATA)>
<!ELEMENT h052 (#PCDATA)>
<!ELEMENT h053 (#PCDATA)>
<!ELEMENT h054 (#PCDATA)>
<!ELEMENT h055 (#PCDATA)>
<!ELEMENT h056 (#PCDATA)>
<!ELEMENT h057 (#PCDATA)>
<!ELEMENT h058 (#PCDATA)>
<!ELEMENT h059 (#PCDATA)>
<!ELEMENT h060 (#PCDATA)>
<!ELEMENT h061 (#PCDATA)>
<!ELEMENT h062 (#PCDATA)>
<!ELEMENT h063 (#PCDATA)>
<!ELEMENT h064 (#PCDATA)>
<!ELEMENT h065 (#PCDATA)>
<!ELEMENT h066 (#PCDATA)>
<!ELEMENT h067 (#PCDATA)>
<!ELEMENT h068 (#PCDATA)>
<!ELEMENT h069 (#PCDATA)>
<!ELEMENT h070 (#PCDATA)>
<!ELEMENT h071 (#PCDATA)>
<!ELEMENT h072 (#PCDATA)>
<!ELEMENT h073 (#PCDATA)>
<!ELEMENT h074 (#PCDATA)>
<!ELEMENT h075 (#PCDATA)>
<!ELEMENT h076 (#PCDATA)>
<!ELEMENT h077 (#PCDATA)>
<!ELEMENT h078 (#PCDATA)>
<!ELEMENT h079 (#PCDATA)>
<!ELEMENT h080 (#PCDATA)>
<!ELEMENT h081 (#PCDATA)>
<!ELEMENT h082 (#PCDATA)>
<!ELEMENT h083 (#PCDATA)>
<!ELEMENT h084 (#PCDATA)>
<!ELEMENT h085 (#PCDATA)>
<!ELEMENT h086 (#PCDATA)>
<!ELEMENT h087 (#PCDATA)>
<!ELEMENT h088 (#PCDATA)>
<!ELEMENT h089 (#PCDATA)>
<!ELEMENT h090 (#PCDATA)>
<!ELEMENT h091 (#PCDATA)>
<!ELEMENT h092 (#PCDATA)>
<!ELEMENT h093 (#PCDATA)>
<!ELEMENT h094 (#PCDATA)>
<!ELEMENT h095 (#PCDATA)>
<!ELEMENT h096 (#PCDATA)>
<!ELEMENT h097 (#PCDATA)>
<!ELEMENT h098 (#PCDATA)>
<!ELEMENT h099 (#PCDATA)>
<!ELEMENT h100 (#PCDATA)>
<!ELEMENT h101 (#PCDATA)>
<!ELEMENT h102 (#PCDATA)>
<!ELEMENT h103 (#PCDATA)>
<!ELEMENT h104 (#PCDATA)>
<!ELEMENT h105 (#PCDATA)>
<!ELEMENT h106 (#PCDATA)>
<!ELEMENT h107 (#PCDATA)>
<!ELEMENT h108 (#PCDATA)>
<!ELEMENT h109 (#PCDATA)>
<!ELEMENT h110 (#PCDATA)>
<!ELEMENT h111 (#PCDATA)>
<!ELEMENT h112 (#PCDATA)>
<!ELEMENT h113 (#PCDATA)>
<!ELEMENT h114 (#PCDATA)>
<!ELEMENT h115 (#PCDATA)>
<!ELEMENT h116 (#PCDATA)>
<!ELEMENT h117 (#PCDATA)>
<!ELEMENT h118 (#PCDATA)>
<!ELEMENT h119 (#PCDATA)>
<!ELEMENT h120 (#PCDATA)>
<!ELEMENT h121 (#PCDATA)>
<!ELEMENT h122 (#PCDATA)>
<!ELEMENT h123 (#PCDATA)>
<!ELEMENT h124 (#PCDATA)>
<!ELEMENT h125 (#PCDATA)>
<!ELEMENT h126 (#PCDATA)>
<!ELEMENT h127 (#PCDATA)>
<!ELEMENT h128 (#PCDATA)>
<!ELEMENT h129 (#PCDATA)>
<!ELEMENT h130 (#PCDATA)>
<!ELEMENT h131 (#PCDATA)>
<!ELEMENT h132 (#PCDATA)>
<!ELEMENT h133 (#PCDATA)>
<!ELEMENT h134 (#PCDATA)>
<!ELEMENT h135 (#PCDATA)>
<!ELEMENT h136 (#PCDATA)>
<!ELEMENT h137 (#PCDATA)>
<!ELEMENT h138 (#PCDATA)>
<!ELEMENT h139 (#PCDATA)>
<!ELEMENT h140 (#PCDATA)>
<!ELEMENT h141 (#PCDATA)>
<!ELEMENT h142 (#PCDATA)>
<!ELEMENT h143 (#PCDATA)>
<!ELEMENT h144 (#PCDATA)>
<!ELEMENT h145 (#PCDATA)>
<!ELEMENT h146 (#PCDATA)>
<!ELEMENT h147 (#PCDATA)>
<!ELEMENT h148 (#PCDATA)>
<!ELEMENT h149 (#PCDATA)>
<!ELEMENT h150 (#PCDATA)>
<!ELEMENT h151 (#PCDATA)>
<!ELEMENT h152 (#PCDATA)>
<!ELEMENT h153 (#PCDATA)>
<!ELEMENT h154 (#PCDATA)>
<!ELEMENT h155 (#PCDATA)>
<!ELEMENT h156 (#PCDATA)>
<!ELEMENT h157 (#PCDATA)>
<!ELEMENT h158 (#PCDATA)>
<!ELEMENT h159 (#PCDATA)>
<!ELEMENT h160 (#PCDATA)>
<!ELEMENT h161 (#PCDATA)>
<!ELEMENT h162 (#PCDATA)>
<!ELEMENT h163 (#PCDATA)>
<!ELEMENT h164 (#PCDATA)>
<!ELEMENT h165 (#PCDATA)>
<!ELEMENT h166 (#PCDATA)>
<!ELEMENT h167 (#PCDATA)>
<!ELEMENT h168 (#PCDATA)>
<!ELEMENT h169 (#PCDATA)>
<!ELEMENT h170 (#PCDATA)>
<!ELEMENT h171 (#PCDATA)>
<!ELEMENT h172 (#PCDATA)>
<!ELEMENT h173 (#PCDATA)>
<!ELEMENT h174 (#PCDATA)>
<!ELEMENT h175 (#PCDATA)>
<!ELEMENT h176 (#PCDATA)>
<!ELEMENT h177 (#PCDATA)>
<!ELEMENT h178 (#PCDATA)>
<!ELEMENT h179 (#PCDATA)>
<!ELEMENT h180 (#PCDATA)>
<!ELEMENT h181 (#PCDATA)>
<!ELEMENT h182 (#PCDATA)>
<!ELEMENT h183 (#PCDATA)>
<!ELEMENT h184 (#PCDATA)>
<!ELEMENT h185 (#PCDATA)>
<!ELEMENT h186 (#PCDATA)>
<!ELEMENT h187 (#PCDATA)>
<!ELEMENT h188 (#PCDATA)>
<!ELEMENT h189 (#PCDATA)>
<!ELEMENT h190 (#PCDATA)>
<!ELEMENT h191 (#PCDATA)>
<!ELEMENT h192 (#PCDATA)>
<!ELEMENT h193 (#PCDATA)>
<!ELEMENT h194 (#PCDATA)>
<!ELEMENT h195 (#PCDATA)>
<!ELEMENT h196 (#PCDATA)>
<!ELEMENT h197 (#PCDATA)>
<!ELEMENT h198 (#PCDATA)>
<!ELEMENT h199 (#PCDATA)>
<!ELEMENT h200 (#PCDATA)>
<!ELEMENT h201 (#PCDATA)>
<!ELEMENT h202 (#PCDATA)>
<!ELEMENT h203 (#PCDATA)>
<!ELEMENT h204 (#PCDATA)>
<!ELEMENT h205 (#PCDATA)>
<!ELEMENT h206 (#PCDATA)>
<!ELEMENT h207 (#PCDATA)>
<!ELEMENT h208 (#PCDATA)>
<!ELEMENT h209 (#PCDATA)>
<!ELEMENT h210 (#PCDATA)>
<!ELEMENT h211 (#PCDATA)>
<!ELEMENT h212 (#PCDATA)>
<!ELEMENT h213 (#PCDATA)>
<!ELEMENT h214 (#PCDATA)>
<!ELEMENT h215 (#PCDATA)>
<!ELEMENT h216 (#PCDATA)>
<!ELEMENT h217 (#PCDATA)>
<!ELEMENT h218 (#PCDATA)>
<!ELEMENT h219 (#PCDATA)>
<!ELEMENT h220 (#PCDATA)>
<!ELEMENT h221 (#PCDATA)>
<!ELEMENT h222 (#PCDATA)>
<!ELEMENT h223 (#PCDATA)>
<!ELEMENT h224 (#PCDATA)>
<!ELEMENT h225 (#PCDATA)>
<!ELEMENT h226 (#PCDATA)>
<!ELEMENT h227 (#PCDATA)>
<!ELEMENT h228 (#PCDATA)>
<!ELEMENT h229 (#PCDATA)>
<!ELEMENT h230 (#PCDATA)>
<!ELEMENT h231 (#PCDATA)>
<!ELEMENT h232 (#PCDATA)>
<!ELEMENT h233 (#PCDATA)>
<!ELEMENT h234 (#PCDATA)>
<!ELEMENT h235 (#PCDATA)>
<!ELEMENT h236 (#PCDATA)>
<!ELEMENT h237 (#PCDATA)>
<!ELEMENT h238 (#PCDATA)>
<!ELEMENT h239 (#PCDATA)>
<!ELEMENT h240 (#PCDATA)>
<!ELEMENT h241 (#PCDATA)>
<!ELEMENT h242 (#PCDATA)>
<!ELEMENT h243 (#PCDATA)>
<!ELEMENT h244 (#PCDATA)>
<!ELEMENT h245 (#PCDATA)>
<!ELEMENT h246 (#PCDATA)>
<!ELEMENT h247 (#PCDATA)>
<!ELEMENT h248 (#PCDATA)>
<!ELEMENT h249 (#PCDATA)>
<!ELEMENT h250 (#PCDATA)>
<!ELEMENT h251 (#PCDATA)>
<!ELEMENT h252 (#PCDATA)>
<!ELEMENT h253 (#PCDATA)>
<!ELEMENT h254 (#PCDATA)>
<!ELEMENT h255 (#PCDATA)>
<!ELEMENT h256 (#PCDATA)>
<!ELEMENT h257 (#PCDATA)>
<!ELEMENT h258 (#PCDATA)>
<!ELEMENT h259 (#PCDATA)>
<!ELEMENT h260 (#PCDATA)>
<!ELEMENT h261 (#PCDATA)>
<!ELEMENT h262 (#PCDATA)>
<!ELEMENT h263 (#PCDATA)>
<!ELEMENT h264 (#PCDATA)>
<!ELEMENT h265 (#PCDATA)>
<!ELEMENT h266 (#PCDATA)>
<!ELEMENT h267 (#PCDATA)>
<!ELEMENT h268 (#PCDATA)>
<!ELEMENT h269 (#PCDATA)>
<!ELEMENT h270 (#PCDATA)>
<!ELEMENT h271 (#PCDATA)>
<!ELEMENT h272 (#PCDATA)>
<!ELEMENT h273 (#PCDATA)>
<!ELEMENT h274 (#PCDATA)>
<!ELEMENT h275 (#PCDATA)>
<!ELEMENT h276 (#PCDATA)>
<!ELEMENT h277 (#PCDATA)>
<!ELEMENT h278 (#PCDATA)>
<!ELEMENT h279 (#PCDATA)>
<!ELEMENT h280 (#PCDATA)>
<!ELEMENT h281 (#PCDATA)>
<!ELEMENT h282 (#PCDATA)>
<!ELEMENT h283 (#PCDATA)>
<!ELEMENT h284 (#PCDATA)>
<!ELEMENT h285 (#PCDATA)>
<!ELEMENT h286 (#PCDATA)>
<!ELEMENT h287 (#PCDATA)>
<!ELEMENT h288 (#PCDATA)>
<!ELEMENT h289 (#PCDATA)>
<!ELEMENT h290 (#PCDATA)>
<!ELEMENT h291 (#PCDATA)>
<!ELEMENT h292 (#PCDATA)>
<!ELEMENT h293 (#PCDATA)>
<!ELEMENT h294 (#PCDATA)>
<!ELEMENT h295 (#PCDATA)>
<!ELEMENT h296 (#PCDATA)>
<!ELEMENT h297 (#PCDATA)>
<!ELEMENT h298 (#PCDATA)>
<!ELEMENT h299 (#PCDATA)>
<!ELEMENT h300 (#PCDATA)>
<!ELEMENT h301 (#PCDATA)>
<!ELEMENT h302 (#PCDATA)>
<!ELEMENT h303 (#PCDATA)>
<!ELEMENT h304 (#PCDATA)>
<!ELEMENT h305 (#PCDATA)>
<!ELEMENT h306 (#PCDATA)>
<!ELEMENT h307 (#PCDATA)>
<!ELEMENT h308 (#PCDATA)>
<!ELEMENT h309 (#PCDATA)>
<!ELEMENT h310 (#PCDATA)>
<!ELEMENT h311 (#PCDATA)>
<!ELEMENT h312 (#PCDATA)>
<!ELEMENT h313 (#PCDATA)>
<!ELEMENT h314 (#PCDATA)>
<!ELEMENT h315 (#PCDATA)>
<!ELEMENT h316 (#PCDATA)>
<!ELEMENT h317 (#PCDATA)>
<!ELEMENT h318 (#PCDATA)>
<!ELEMENT h319 (#PCDATA)>
<!ELEMENT h320 (#PCDATA)>
<!ELEMENT h321 (#PCDATA)>
<!ELEMENT h322 (#PCDATA)>
<!ELEMENT h323 (#PCDATA)>
<!ELEMENT h324 (#PCDATA)>
<!ELEMENT h325 (#PCDATA)>
<!ELEMENT h326 (#PCDATA)>
<!ELEMENT h327 (#PCDATA)>
<!ELEMENT h328 (#PCDATA)>
<!ELEMENT h329 (#PCDATA)>
<!ELEMENT h330 (#PCDATA)>
<!ELEMENT h331 (#PCDATA)>
<!ELEMENT h332 (#PCDATA)>
<!ELEMENT h333 (#PCDATA)>
<!ELEMENT h334 (#PCDATA)>
<!ELEMENT h335 (#PCDATA)>
<!ELEMENT h336 (#PCDATA)>
<!ELEMENT h337 (#PCDATA)>
<!ELEMENT h338 (#PCDATA)>
<!ELEMENT h339 (#PCDATA)>
<!ELEMENT h340 (#PCDATA)>
<!ELEMENT h341 (#PCDATA)>
<!ELEMENT h342 (#PCDATA)>
<!ELEMENT h343 (#PCDATA)>
<!ELEMENT h344 (#PCDATA)>
<!ELEMENT h345 (#PCDATA)>
<!ELEMENT h346 (#PCDATA)>
<!ELEMENT h347 (#PCDATA)>
<!ELEMENT h348 (#PCDATA)>
<!ELEMENT h349 (#PCDATA)>
<!ELEMENT h350 (#PCDATA)>
<!ELEMENT h351 (#PCDATA)>
<!ELEMENT h352 (#PCDATA)>
<!ELEMENT h353 (#PCDATA)>
<!ELEMENT h354 (#PCDATA)>
<!ELEMENT h355 (#PCDATA)>
<!ELEMENT h356 (#PCDATA)>
<!ELEMENT h357 (#PCDATA)>
<!ELEMENT h358 (#PCDATA)>
<!ELEMENT h359 (#PCDATA)>
<!ELEMENT h360 (#PCDATA)>
<!ELEMENT h361 (#PCDATA)>
<!ELEMENT h362 (#PCDATA)>
<!ELEMENT h363 (#PCDATA)>
<!ELEMENT h364 (#PCDATA)>
<!ELEMENT h365 (#PCDATA)>
<!ELEMENT h366 (#PCDATA)>
<!ELEMENT h367 (#PCDATA)>
<!ELEMENT h368 (#PCDATA)>
<!ELEMENT h369 (#PCDATA)>
<!ELEMENT h370 (#PCDATA)>
<!ELEMENT h371 (#PCDATA)>
<!ELEMENT h372 (#PCDATA)>
<!ELEMENT h373 (#PCDATA)>
<!ELEMENT h374 (#PCDATA)>
<!ELEMENT h375 (#PCDATA)>
<!ELEMENT h376 (#PCDATA)>
<!ELEMENT h377 (#PCDATA)>
<!ELEMENT h378 (#PCDATA)>
<!ELEMENT h379 (#PCDATA)>
<!ELEMENT h380 (#PCDATA)>
<!ELEMENT h381 (#PCDATA)>
<!ELEMENT h382 (#PCDATA)>
<!ELEMENT h383 (#PCDATA)>
<!ELEMENT h384 (#PCDATA)>
<!ELEMENT h385 (#PCDATA)>
<!ELEMENT h386 (#PCDATA)>
<!ELEMENT h387 (#PCDATA)>
<!ELEMENT h388 (#PCDATA)>
<!ELEMENT h389 (#PCDATA)>
<!ELEMENT h390 (#PCDATA)>
<!ELEMENT h391 (#PCDATA)>
<!ELEMENT h392 (#PCDATA)>
<!ELEMENT h393 (#PCDATA)>
<!ELEMENT h394 (#PCDATA)>
<!ELEMENT h395 (#PCDATA)>
<!ELEMENT h396 (#PCDATA)>
<!ELEMENT h397 (#PCDATA)>
<!ELEMENT h398 (#PCDATA)>
<!ELEMENT h399 (#PCDATA)>
<!ELEMENT h400 (#PCDATA)>
<!ELEMENT h401 (#PCDATA)>
<!ELEMENT h402 (#PCDATA)>
<!ELEMENT h403 (#PCDATA)>
<!ELEMENT h404 (#PCDATA)>
<!ELEMENT h405 (#PCDATA)>
<!ELEMENT h406 (#PCDATA)>
<!ELEMENT h407 (#PCDATA)>
<!ELEMENT h408 (#PCDATA)>
<!ELEMENT h409 (#PCDATA)>
<!ELEMENT h410 (#PCDATA)>
<!ELEMENT h411 (#PCDATA)>
<!ELEMENT h412 (#PCDATA)>
<!ELEMENT h413 (#PCDATA)>
<!ELEMENT h414 (#PCDATA)>
<!ELEMENT h415 (#PCDATA)>
<!ELEMENT h416 (#PCDATA)>
<!ELEMENT h417 (#PCDATA)>
<!ELEMENT h418 (#PCDATA)>
<!ELEMENT h419 (#PCDATA)>
<!ELEMENT h420 (#PCDATA)>
<!ELEMENT h421 (#PCDATA)>
<!ELEMENT h422 (#PCDATA)>
<!ELEMENT h423 (#PCDATA)>
<!ELEMENT h424 (#PCDATA)>
<!ELEMENT h425 (#PCDATA)>
<!ELEMENT h426 (#PCDATA)>
<!ELEMENT h427 (#PCDATA)>
<!ELEMENT h428 (#PCDATA)>
<!ELEMENT h429 (#PCDATA)>
<!ELEMENT h430 (#PCDATA)>
<!ELEMENT h431 (#PCDATA)>
<!ELEMENT h432 (#PCDATA)>
<!ELEMENT h433 (#PCDATA)>
<!ELEMENT h434 (#PCDATA)>
<!ELEMENT h435 (#PCDATA)>
<!ELEMENT h436 (#PCDATA)>
<!ELEMENT h437 (#PCDATA)>
<!ELEMENT h438 (#PCDATA)>
<!ELEMENT h439 (#PCDATA)>
<!ELEMENT h440 (#PCDATA)>
<!ELEMENT h441 (#PCDATA)>
<!ELEMENT h442 (#PCDATA)>
<!ELEMENT h443 (#PCDATA)>
<!ELEMENT h444 (#PCDATA)>
<!ELEMENT h445 (#PCDATA)>
<!ELEMENT h446 (#PCDATA)>
<!ELEMENT h447 (#PCDATA)>
<!ELEMENT h448 (#PCDATA)>
<!ELEMENT h449 (#PCDATA)>
<!ELEMENT h450 (#PCDATA)>
<!ELEMENT h451 (#PCDATA)>
<!ELEMENT h452 (#PCDATA)>
<!ELEMENT h453 (#PCDATA)>
<!ELEMENT h454 (#PCDATA)>
<!ELEMENT h455 (#PCDATA)>
<!ELEMENT h456 (#PCDATA)>
<!ELEMENT h457 (#PCDATA)>
<!ELEMENT h458 (#PCDATA)>
<!ELEMENT h459 (#PCDATA)>
<!ELEMENT h460 (#PCDATA)>
<!ELEMENT h461 (#PCDATA)>
<!ELEMENT h462 (#PCDATA)>
<!ELEMENT h463 (#PCDATA)>
<!ELEMENT h464 (#PCDATA)>
<!ELEMENT h465 (#PCDATA)>
<!ELEMENT h466 (#PCDATA)>
<!ELEMENT h467 (#PCDATA)>
<!ELEMENT h468 (#PCDATA)>
<!ELEMENT h469 (#PCDATA)>
<!ELEMENT h470 (#PCDATA)>
<!ELEMENT h471 (#PCDATA)>
<!ELEMENT h472 (#PCDATA)>
<!ELEMENT h473 (#PCDATA)>
<!ELEMENT h474 (#PCDATA)>
<!ELEMENT h475 (#PCDATA)>
<!ELEMENT h476 (#PCDATA)>
<!ELEMENT h477 (#PCDATA)>
<!ELEMENT h478 (#PCDATA)>
<!ELEMENT h479 (#PCDATA)>
<!ELEMENT h480 (#PCDATA)>
<!ELEMENT h481 (#PCDATA)>
<!ELEMENT h482 (#PCDATA)>
<!ELEMENT h483 (#PCDATA)>
<!ELEMENT h484 (#PCDATA)>
<!ELEMENT h485 (#PCDATA)>
<!ELEMENT h486 (#PCDATA)>
<!ELEMENT h487 (#PCDATA)>
<!ELEMENT h488 (#PCDATA)>
<!ELEMENT h489 (#PCDATA)>
<!ELEMENT h490 (#PCDATA)>
<!ELEMENT h491 (#PCDATA)>
<!ELEMENT h492 (#PCDATA)>
<!ELEMENT h493 (#PCDATA)>
<!ELEMENT h494 (#PCDATA)>
<!ELEMENT h495 (#PCDATA)>
<!ELEMENT h496 (#PCDATA)>
<!ELEMENT h497 (#PCDATA)>
<!ELEMENT h498 (#PCDATA)>
<!ELEMENT h499 (#PCDATA)>
<!ELEMENT h500 (#PCDATA)>
<!ELEMENT h501 (#PCDATA)>
<!ELEMENT h502 (#PCDATA)>
<!ELEMENT h503 (#PCDATA)>
<!ELEMENT h504 (#PCDATA)>
<!ELEMENT h505 (#PCDATA)>
<!ELEMENT h506 (#PCDATA)>
<!ELEMENT h507 (#PCDATA)>
<!ELEMENT h508 (#PCDATA)>
<!ELEMENT h509 (#PCDATA)>
<!ELEMENT h510 (#PCDATA)>
<!ELEMENT h511 (#PCDATA)>
<!ELEMENT h512 (#PCDATA)>
<!ELEMENT h513 (#PCDATA)>
<!ELEMENT h514 (#PCDATA)>
<!ELEMENT h515 (#PCDATA)>
<!ELEMENT h516 (#PCDATA)>
<!ELEMENT h517 (#PCDATA)>
<!ELEMENT h518 (#PCDATA)>
<!ELEMENT h519 (#PCDATA)>
<!ELEMENT h520 (#PCDATA)>
<!ELEMENT h521 (#PCDATA)>
<!ELEMENT h522 (#PCDATA)>
<!ELEMENT h523 (#PCDATA)>
<!ELEMENT h524 (#PCDATA)>
<!ELEMENT h525 (#PCDATA)>
<!ELEMENT h526 (#PCDATA)>
<!ELEMENT h527 (#PCDATA)>
<!ELEMENT h528 (#PCDATA)>
<!ELEMENT h529 (#PCDATA)>
<!ELEMENT h530 (#PCDATA)>
<!ELEMENT h531 (#PCDATA)>
<!ELEMENT h532 (#PCDATA)>
<!ELEMENT h533 (#PCDATA)>
<!ELEMENT h534 (#PCDATA)>
<!ELEMENT h535 (#PCDATA)>
<!ELEMENT h536 (#PCDATA)>
<!ELEMENT h537 (#PCDATA)>
<!ELEMENT h538 (#PCDATA)>
<!ELEMENT h539 (#PCDATA)>
<!ELEMENT h540 (#PCDATA)>
<!ELEMENT h541 (#PCDATA)>
<!ELEMENT h542 (#PCDATA)>
<!ELEMENT h543 (#PCDATA)>
<!ELEMENT h544 (#PCDATA)>
<!ELEMENT h545 (#PCDATA)>
<!ELEMENT h546 (#PCDATA)>
<!ELEMENT h547 (#PCDATA)>
<!ELEMENT h548 (#PCDATA)>
<!ELEMENT h549 (#PCDATA)>
<!ELEMENT h550 (#PCDATA)>
<!ELEMENT h551 (#PCDATA)>
<!ELEMENT h552 (#PCDATA)>
<!ELEMENT h553 (#PCDATA)>
<!ELEMENT h554 (#PCDATA)>
<!ELEMENT h555 (#PCDATA)>
<!ELEMENT h556 (#PCDATA)>
<!ELEMENT h557 (#PCDATA)>
<!ELEMENT h558 (#PCDATA)>
<!ELEMENT h559 (#PCDATA)>
<!ELEMENT h560 (#PCDATA)>
<!ELEMENT h561 (#PCDATA)>
<!ELEMENT h562 (#PCDATA)>
<!ELEMENT h563 (#PCDATA)>
<!ELEMENT h564 (#PCDATA)>
<!ELEMENT h565 (#PCDATA)>
<!ELEMENT h566 (#PCDATA)>
<!ELEMENT h567 (#PCDATA)>
<!ELEMENT h568 (#PCDATA)>
<!ELEMENT h569 (#PCDATA)>
<!ELEMENT h570 (#PCDATA)>
<!ELEMENT h571 (#PCDATA)>
<!ELEMENT h572 (#PCDATA)>
<!ELEMENT h573 (#PCDATA)>
<!ELEMENT h574 (#PCDATA)>
<!ELEMENT h575 (#PCDATA)>
<!ELEMENT h576 (#PCDATA)>
<!ELEMENT h577 (#PCDATA)>
<!ELEMENT h578 (#PCDATA)>
<!ELEMENT h579 (#PCDATA)>
<!ELEMENT h580 (#PCDATA)>
<!ELEMENT h581 (#PCDATA)>
<!ELEMENT h582 (#PCDATA)>
<!ELEMENT h583 (#PCDATA)>
<!ELEMENT h584 (#PCDATA)>
<!ELEMENT h585 (#PCDATA)>
<!ELEMENT h586 (#PCDATA)>
<!ELEMENT h587 (#PCDATA)>
<!ELEMENT h588 (#PCDATA)>
<!ELEMENT h589 (#PCDATA)>
<!ELEMENT h590 (#PCDATA)>
<!ELEMENT h591 (#PCDATA)>
<!ELEMENT h592 (#PCDATA)>
<!ELEMENT h593 (#PCDATA)>
<!ELEMENT h594 (#PCDATA)>
<!ELEMENT h595 (#PCDATA)>
<!ELEMENT h596 (#PCDATA)>
<!ELEMENT h597 (#PCDATA)>
<!ELEMENT h598 (#PCDATA)>
<!ELEMENT h599 (#PCDATA)>
<!ELEMENT h600 (#PCDATA)>
<!ELEMENT h601 (#PCDATA)>
<!ELEMENT h602 (#PCDATA)>
<!ELEMENT h603 (#PCDATA)>
<!ELEMENT h604 (#PCDATA)>
<!ELEMENT h605 (#PCDATA)>
<!ELEMENT h606 (#PCDATA)>
<!ELEMENT h607 (#PCDATA)>
<!ELEMENT h608 (#PCDATA)>
<!ELEMENT h609 (#PCDATA)>
<!ELEMENT h610 (#PCDATA)>
<!ELEMENT h611 (#PCDATA)>
<!ELEMENT h612 (#PCDATA)>
<!ELEMENT h613 (#PCDATA)>
<!ELEMENT h614 (#PCDATA)>
<!ELEMENT h615 (#PCDATA)>
<!ELEMENT h616 (#PCDATA)>
<!ELEMENT h617 (#PCDATA)>
<!ELEMENT h618 (#PCDATA)>
<!ELEMENT h619 (#PCDATA)>
<!ELEMENT h620 (#PCDATA)>
<!ELEMENT h621 (#PCDATA)>
<!ELEMENT h622 (#PCDATA)>
<!ELEMENT h623 (#PCDATA)>
<!ELEMENT h624 (#PCDATA)>
<!ELEMENT h625 (#PCDATA)>
<!ELEMENT h626 (#PCDATA)>
<!ELEMENT h627 (#PCDATA)>
<!ELEMENT h628 (#PCDATA)>
<!ELEMENT h629 (#PCDATA)>
<!ELEMENT h630 (#PCDATA)>
<!ELEMENT h631 (#PCDATA)>
<!ELEMENT h632 (#PCDATA)>
<!ELEMENT h633 (#PCDATA)>
<!ELEMENT h634 (#PCDATA)>
<!ELEMENT h635 (#PCDATA)>
<!ELEMENT h636 (#PCDATA)>
<!ELEMENT h637 (#PCDATA)>
<!ELEMENT h638 (#PCDATA)>
<!ELEMENT h639 (#PCDATA)>
<!ELEMENT h640 (#PCDATA)>
<!ELEMENT h641 (#PCDATA)>
<!ELEMENT h642 (#PCDATA)>
<!ELEMENT h643 (#PCDATA)>
<!ELEMENT h644 (#PCDATA)>
<!ELEMENT h645 (#PCDATA)>
<!ELEMENT h646 (#PCDATA)>
<!ELEMENT h647 (#PCDATA)>
<!ELEMENT h648 (#PCDATA)>
<!ELEMENT h649 (#PCDATA)>
<!ELEMENT h650 (#PCDATA)>
<!ELEMENT h651 (#PCDATA)>
<!ELEMENT h652 (#PCDATA)>
<!ELEMENT h653 (#PCDATA)>
<!ELEMENT h654 (#PCDATA)>
<!ELEMENT h655 (#PCDATA)>
<!ELEMENT h656 (#PCDATA)>
<!ELEMENT h657 (#PCDATA)>
<!ELEMENT h658 (#PCDATA)>
<!ELEMENT h659 (#PCDATA)>
<!ELEMENT h660 (#PCDATA)>
<!ELEMENT h661 (#PCDATA)>
<!ELEMENT h662 (#PCDATA)>
<!ELEMENT h663 (#PCDATA)>
<!ELEMENT h664 (#PCDATA)>
<!ELEMENT h665 (#PCDATA)>
<!ELEMENT h666 (#PCDATA)>
<!ELEMENT h667 (#PCDATA)>
<!ELEMENT h668 (#PCDATA)>
<!ELEMENT h669 (#PCDATA)>
<!ELEMENT h670 (#PCDATA)>
<!ELEMENT h671 (#PCDATA)>
<!ELEMENT h672 (#PCDATA)>
<!ELEMENT h673 (#PCDATA)>
<!ELEMENT h674 (#PCDATA)>
<!ELEMENT h675 (#PCDATA)>
<!ELEMENT h676 (#PCDATA)>
<!ELEMENT h677 (#PCDATA)>
<!ELEMENT h678 (#PCDATA)>
<!ELEMENT h679 (#PCDATA)>
<!ELEMENT h680 (#PCDATA)>
<!ELEMENT h681 (#PCDATA)>
<!ELEMENT h682 (#PCDATA)>
<!ELEMENT h683 (#PCDATA)>
<!ELEMENT h684 (#PCDATA)>
<!ELEMENT h685 (#PCDATA)>
<!ELEMENT h686 (#PCDATA)>
<!ELEMENT h687 (#PCDATA)>
<!ELEMENT h688 (#PCDATA)>
<!ELEMENT h689 (#PCDATA)>
<!ELEMENT h690 (#PCDATA)>
<!ELEMENT h691 (#PCDATA)>
<!ELEMENT h692 (#PCDATA)>
<!ELEMENT h693 (#PCDATA)>
<!ELEMENT h694 (#PCDATA)>
<!ELEMENT h695 (#PCDATA)>
<!ELEMENT h696 (#PCDATA)>
<!ELEMENT h697 (#PCDATA)>
<!ELEMENT h698 (#PCDATA)>
<!ELEMENT h699 (#PCDATA)>
<!ELEMENT h700 (#PCDATA)>
<!ELEMENT h701 (#PCDATA)>
<!ELEMENT h702 (#PCDATA)>
<!ELEMENT h703 (#PCDATA)>
<!ELEMENT h704 (#PCDATA)>
<!ELEMENT h705 (#PCDATA)>
<!ELEMENT h706 (#PCDATA)>
<!ELEMENT h707 (#PCDATA)>
<!ELEMENT h708 (#PCDATA)>
<!ELEMENT h709 (#PCDATA)>
<!ELEMENT h710 (#PCDATA)>
<!ELEMENT h711 (#PCDATA)>
<!ELEMENT h712 (#PCDATA)>
<!ELEMENT h713 (#PCDATA)>
<!ELEMENT h714 (#PCDATA)>
<!ELEMENT h715 (#PCDATA)>
<!ELEMENT h716 (#PCDATA)>
<!ELEMENT h717 (#PCDATA)>
<!ELEMENT h718 (#PCDATA)>
<!ELEMENT h719 (#PCDATA)>
<!ELEMENT h720 (#PCDATA)>
<!ELEMENT h721 (#PCDATA)>
<!ELEMENT h722 (#PCDATA)>
<!ELEMENT h723 (#PCDATA)>
<!ELEMENT h724 (#PCDATA)>
<!ELEMENT h725 (#PCDATA)>
<!ELEMENT h726 (#PCDATA)>
<!ELEMENT h727 (#PCDATA)>
<!ELEMENT h728 (#PCDATA)>
<!ELEMENT h729 (#PCDATA)>
<!ELEMENT h730 (#PCDATA)>
<!ELEMENT h731 (#PCDATA)>
<!ELEMENT h732 (#PCDATA)>
<!ELEMENT h733 (#PCDATA)>
<!ELEMENT h734 (#PCDATA)>
<!ELEMENT h735 (#PCDATA)>
<!ELEMENT h736 (#PCDATA)>
<!ELEMENT h737 (#PCDATA)>
<!ELEMENT h738 (#PCDATA)>
<!ELEMENT h739 (#PCDATA)>
<!ELEMENT h740 (#PCDATA)>
<!ELEMENT h741 (#PCDATA)>
<!ELEMENT h742 (#PCDATA)>
<!ELEMENT h743 (#PCDATA)>
<!ELEMENT h744 (#PCDATA)>

<!-- Daily History Store -->

<!ELEMENT d001 (#PCDATA)>
<!ELEMENT d002 (#PCDATA)>
<!ELEMENT d003 (#PCDATA)>
<!ELEMENT d004 (#PCDATA)>
<!ELEMENT d005 (#PCDATA)>
<!ELEMENT d006 (#PCDATA)>
<!ELEMENT d007 (#PCDATA)>
<!ELEMENT d008 (#PCDATA)>
<!ELEMENT d009 (#PCDATA)>
<!ELEMENT d010 (#PCDATA)>
<!ELEMENT d011 (#PCDATA)>
<!ELEMENT d012 (#PCDATA)>
<!ELEMENT d013 (#PCDATA)>
<!ELEMENT d014 (#PCDATA)>
<!ELEMENT d015 (#PCDATA)>
<!ELEMENT d016 (#PCDATA)>
<!ELEMENT d017 (#PCDATA)>
<!ELEMENT d018 (#PCDATA)>
<!ELEMENT d019 (#PCDATA)>
<!ELEMENT d020 (#PCDATA)>
<!ELEMENT d021 (#PCDATA)>
<!ELEMENT d022 (#PCDATA)>
<!ELEMENT d023 (#PCDATA)>
<!ELEMENT d024 (#PCDATA)>
<!ELEMENT d025 (#PCDATA)>
<!ELEMENT d026 (#PCDATA)>
<!ELEMENT d027 (#PCDATA)>
<!ELEMENT d028 (#PCDATA)>
<!ELEMENT d029 (#PCDATA)>
<!ELEMENT d030 (#PCDATA)>
<!ELEMENT d031 (#PCDATA)>
<!ELEMENT d032 (#PCDATA)>
<!ELEMENT d033 (#PCDATA)>
<!ELEMENT d034 (#PCDATA)>
<!ELEMENT d035 (#PCDATA)>
<!ELEMENT d036 (#PCDATA)>
<!ELEMENT d037 (#PCDATA)>
<!ELEMENT d038 (#PCDATA)>
<!ELEMENT d039 (#PCDATA)>
<!ELEMENT d040 (#PCDATA)>
<!ELEMENT d041 (#PCDATA)>
<!ELEMENT d042 (#PCDATA)>
<!ELEMENT d043 (#PCDATA)>
<!ELEMENT d044 (#PCDATA)>
<!ELEMENT d045 (#PCDATA)>
<!ELEMENT d046 (#PCDATA)>
<!ELEMENT d047 (#PCDATA)>
<!ELEMENT d048 (#PCDATA)>
<!ELEMENT d049 (#PCDATA)>
<!ELEMENT d050 (#PCDATA)>
<!ELEMENT d051 (#PCDATA)>
<!ELEMENT d052 (#PCDATA)>
<!ELEMENT d053 (#PCDATA)>
<!ELEMENT d054 (#PCDATA)>
<!ELEMENT d055 (#PCDATA)>
<!ELEMENT d056 (#PCDATA)>
<!ELEMENT d057 (#PCDATA)>
<!ELEMENT d058 (#PCDATA)>
<!ELEMENT d059 (#PCDATA)>
<!ELEMENT d060 (#PCDATA)>
<!ELEMENT d061 (#PCDATA)>
<!ELEMENT d062 (#PCDATA)>
<!ELEMENT d063 (#PCDATA)>
<!ELEMENT d064 (#PCDATA)>
<!ELEMENT d065 (#PCDATA)>
<!ELEMENT d066 (#PCDATA)>
<!ELEMENT d067 (#PCDATA)>
<!ELEMENT d068 (#PCDATA)>
<!ELEMENT d069 (#PCDATA)>
<!ELEMENT d070 (#PCDATA)>
<!ELEMENT d071 (#PCDATA)>
<!ELEMENT d072 (#PCDATA)>
<!ELEMENT d073 (#PCDATA)>
<!ELEMENT d074 (#PCDATA)>
<!ELEMENT d075 (#PCDATA)>
<!ELEMENT d076 (#PCDATA)>
<!ELEMENT d077 (#PCDATA)>
<!ELEMENT d078 (#PCDATA)>
<!ELEMENT d079 (#PCDATA)>
<!ELEMENT d080 (#PCDATA)>
<!ELEMENT d081 (#PCDATA)>
<!ELEMENT d082 (#PCDATA)>
<!ELEMENT d083 (#PCDATA)>
<!ELEMENT d084 (#PCDATA)>
<!ELEMENT d085 (#PCDATA)>
<!ELEMENT d086 (#PCDATA)>
<!ELEMENT d087 (#PCDATA)>
<!ELEMENT d088 (#PCDATA)>
<!ELEMENT d089 (#PCDATA)>
<!ELEMENT d090 (#PCDATA)>

<!-- Monthly History Store -->

<!ELEMENT m001 (#PCDATA)>
<!ELEMENT m002 (#PCDATA)>
<!ELEMENT m003 (#PCDATA)>
<!ELEMENT m004 (#PCDATA)>
<!ELEMENT m005 (#PCDATA)>
<!ELEMENT m006 (#PCDATA)>
<!ELEMENT m007 (#PCDATA)>
<!ELEMENT m008 (#PCDATA)>
<!ELEMENT m009 (#PCDATA)>
<!ELEMENT m010 (#PCDATA)>
<!ELEMENT m011 (#PCDATA)>
<!ELEMENT m012 (#PCDATA)>
<!ELEMENT m013 (#PCDATA)>
<!ELEMENT m014 (#PCDATA)>
<!ELEMENT m015 (#PCDATA)>
<!ELEMENT m016 (#PCDATA)>
<!ELEMENT m017 (#PCDATA)>
<!ELEMENT m018 (#PCDATA)>
<!ELEMENT m019 (#PCDATA)>
<!ELEMENT m020 (#PCDATA)>
<!ELEMENT m021 (#PCDATA)>
<!ELEMENT m022 (#PCDATA)>
<!ELEMENT m023 (#PCDATA)>
<!ELEMENT m024 (#PCDATA)>
<!ELEMENT m025 (#PCDATA)>
<!ELEMENT m026 (#PCDATA)>
<!ELEMENT m027 (#PCDATA)>
<!ELEMENT m028 (#PCDATA)>
<!ELEMENT m029 (#PCDATA)>
<!ELEMENT m030 (#PCDATA)>
<!ELEMENT m031 (#PCDATA)>
<!ELEMENT m032 (#PCDATA)>
<!ELEMENT m033 (#PCDATA)>
<!ELEMENT m034 (#PCDATA)>
<!ELEMENT m035 (#PCDATA)>
<!ELEMENT m036 (#PCDATA)>
<!ELEMENT m037 (#PCDATA)>
<!ELEMENT m038 (#PCDATA)>
<!ELEMENT m039 (#PCDATA)>
<!ELEMENT m040 (#PCDATA)>
<!ELEMENT m041 (#PCDATA)>
<!ELEMENT m042 (#PCDATA)>
<!ELEMENT m043 (#PCDATA)>
<!ELEMENT m044 (#PCDATA)>
<!ELEMENT m045 (#PCDATA)>
<!ELEMENT m046 (#PCDATA)>
<!ELEMENT m047 (#PCDATA)>
<!ELEMENT m048 (#PCDATA)>
<!ELEMENT m049 (#PCDATA)>
<!ELEMENT m050 (#PCDATA)>
<!ELEMENT m051 (#PCDATA)>
<!ELEMENT m052 (#PCDATA)>
<!ELEMENT m053 (#PCDATA)>
<!ELEMENT m054 (#PCDATA)>
<!ELEMENT m055 (#PCDATA)>
<!ELEMENT m056 (#PCDATA)>
<!ELEMENT m057 (#PCDATA)>
<!ELEMENT m058 (#PCDATA)>
<!ELEMENT m059 (#PCDATA)>
<!ELEMENT m060 (#PCDATA)>
<!ELEMENT m061 (#PCDATA)>
<!ELEMENT m062 (#PCDATA)>
<!ELEMENT m063 (#PCDATA)>
<!ELEMENT m064 (#PCDATA)>
<!ELEMENT m065 (#PCDATA)>
<!ELEMENT m066 (#PCDATA)>
<!ELEMENT m067 (#PCDATA)>
<!ELEMENT m068 (#PCDATA)>
<!ELEMENT m069 (#PCDATA)>
<!ELEMENT m070 (#PCDATA)>
<!ELEMENT m071 (#PCDATA)>
<!ELEMENT m072 (#PCDATA)>
<!ELEMENT m073 (#PCDATA)>
<!ELEMENT m074 (#PCDATA)>
<!ELEMENT m075 (#PCDATA)>
<!ELEMENT m076 (#PCDATA)>
<!ELEMENT m077 (#PCDATA)>
<!ELEMENT m078 (#PCDATA)>
<!ELEMENT m079 (#PCDATA)>
<!ELEMENT m080 (#PCDATA)>
<!ELEMENT m081 (#PCDATA)>
<!ELEMENT m082 (#PCDATA)>
<!ELEMENT m083 (#PCDATA)>
<!ELEMENT m084 (#PCDATA)>
